# **Extracción de información de la web con Python**
## Conversión de datos a DataFrame

In [15]:
# Librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [16]:
# Añadir la dirección web donde se encuentra la tabla HTML, para leer las tablas
tables = pd.read_html('https://en.wikipedia.org/wiki/National_Basketball_Association')

# Mostrar el número total de tablas encontradas
len(tables)

46

In [17]:
# Mostrando las primeras 5 tablas
tables[1:5]

[    0                                                  1
 0 NaN  This article or section appears to be slanted ...,
                                           0
 0  Map all coordinates using: OpenStreetMap
 1              Download coordinates as: KML
 2                             GPX (primary)
 3                           GPX (secondary)
 4                                 GPX (all),
               Division                    Team                    Location  \
     Eastern Conference      Eastern Conference          Eastern Conference
 0             Atlantic          Boston Celtics       Boston, Massachusetts
 1             Atlantic           Brooklyn Nets     New York City, New York
 2             Atlantic         New York Knicks     New York City, New York
 3             Atlantic      Philadelphia 76ers  Philadelphia, Pennsylvania
 4             Atlantic         Toronto Raptors            Toronto, Ontario
 5              Central           Chicago Bulls           Chicago, Illinois
 6              Central     Cleveland Cavaliers             Cleveland, Ohio
 7              Central         Detroit Pistons           Detroit, Michigan
 8              Central          Indiana Pacers       Indianapolis, Indiana
 9              Central         Milwaukee Bucks        Milwaukee, Wisconsin
 10           Southeast           Atlanta Hawks            Atlanta, Georgia
 11           Southeast       Charlotte Hornets   Charlotte, North Carolina
 12           Southeast              Miami Heat              Miami, Florida
 13           Southeast           Orlando Magic            Orlando, Florida
 14           Southeast      Washington Wizards            Washington, D.C.
 15  Western Conference      Western Conference          Western Conference
 16           Northwest          Denver Nuggets            Denver, Colorado
 17           Northwest  Minnesota Timberwolves      Minneapolis, Minnesota
 18           Northwest   Oklahoma City Thunder     Oklahoma City, Oklahoma
 19           Northwest  Portland Trail Blazers            Portland, Oregon
 20           Northwest               Utah Jazz        Salt Lake City, Utah
 21             Pacific   Golden State Warriors   San Francisco, California
 22             Pacific    Los Angeles Clippers     Los Angeles, California
 23             Pacific      Los Angeles Lakers     Los Angeles, California
 24             Pacific            Phoenix Suns            Phoenix, Arizona
 25             Pacific        Sacramento Kings      Sacramento, California
 26           Southwest        Dallas Mavericks               Dallas, Texas
 27           Southwest         Houston Rockets              Houston, Texas
 28           Southwest       Memphis Grizzlies          Memphis, Tennessee
 29           Southwest    New Orleans Pelicans      New Orleans, Louisiana
 30           Southwest       San Antonio Spurs          San Antonio, Texas

                          Arena            Capacity  \
             Eastern Conference  Eastern Conference
 0                    TD Garden               19156
 1              Barclays Center               17732
 2        Madison Square Garden               19812
 3           Wells Fargo Center               20478
 4             Scotiabank Arena               19800
 5                United Center               20917
 6   Rocket Mortgage FieldHouse               19432
 7         Little Caesars Arena               20332
 8        Gainbridge Fieldhouse               17923
 9                 Fiserv Forum               17341
 10            State Farm Arena               16600
 11             Spectrum Center               19077
 12            Miami-Dade Arena               19600
 13                Amway Center               18846
 14           Capital One Arena               20356
 15          Western Conference  Western Conference
 16                  Ball Arena               19520
 17               Target Center               18798
 18               Paycom Center               18203
 19                 Moda Center               19393
 20                Vivint Arena               18306
 21                Chase Center               18064
 22            Crypto.com Arena               19079
 23            Crypto.com Arena               19079
 24            Footprint Center               16645
 25             Golden 1 Center               17608
 26    American Airlines Center               19200
 27               Toyota Center               18055
 28                  FedExForum               18119
 29        Smoothie King Center               16867
 30                 AT&T Center               18418

                                           Coordinates             Founded  \
                                    Eastern Conference  Eastern Conference
 0   .mw-parser-output .geo-default,.mw-parser-outp...                1946
 1    40°40′58″N 73°58′29″W﻿ / ﻿40.68265°N 73.974689°W               1967*
 2   40°45′02″N 73°59′37″W﻿ / ﻿40.750556°N 73.993611°W                1946
 3   39°54′04″N 75°10′19″W﻿ / ﻿39.901111°N 75.171944°W               1946*
 4   43°38′36″N 79°22′45″W﻿ / ﻿43.643333°N 79.379167°W                1995
 5   41°52′50″N 87°40′27″W﻿ / ﻿41.880556°N 87.674167°W                1966
 6   41°29′47″N 81°41′17″W﻿ / ﻿41.496389°N 81.688056°W                1970
 7      42°20′28″N 83°03′18″W﻿ / ﻿42.341111°N 83.055°W               1941*
 8   39°45′50″N 86°09′20″W﻿ / ﻿39.763889°N 86.155556°W                1967
 9   43°02′37″N 87°55′01″W﻿ / ﻿43.043611°N 87.916944°W                1968
 10  33°45′26″N 84°23′47″W﻿ / ﻿33.757222°N 84.396389°W               1946*
 11     35°13′30″N 80°50′21″W﻿ / ﻿35.225°N 80.839167°W               1988*
 12  25°46′53″N 80°11′17″W﻿ / ﻿25.781389°N 80.188056°W                1988
 13  28°32′21″N 81°23′01″W﻿ / ﻿28.539167°N 81.383611°W                1989
 14  38°53′53″N 77°01′15″W﻿ / ﻿38.898056°N 77.020833°W               1961*
 15                                 Western Conference  Western Conference
 16  39°44′55″N 105°00′27″W﻿ / ﻿39.748611°N 105.0075°W                1967
 17  44°58′46″N 93°16′34″W﻿ / ﻿44.979444°N 93.276111°W                1989
 18     35°27′48″N 97°30′54″W﻿ / ﻿35.463333°N 97.515°W               1967*
 19  45°31′54″N 122°40′00″W﻿ / ﻿45.531667°N 122.666...                1970
 20  40°46′06″N 111°54′04″W﻿ / ﻿40.768333°N 111.901...               1974*
 21  37°46′05″N 122°23′15″W﻿ / ﻿37.768056°N 122.3875°W               1946*
 22  34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...               1970*
 23  34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...               1947*
 24  33°26′45″N 112°04′17″W﻿ / ﻿33.445833°N 112.071...                1968
 25  38°38′57″N 121°31′05″W﻿ / ﻿38.649167°N 121.518...               1923*
 26  32°47′26″N 96°48′37″W﻿ / ﻿32.790556°N 96.810278°W                1980
 27  29°45′03″N 95°21′44″W﻿ / ﻿29.750833°N 95.362222°W               1967*
 28  35°08′18″N 90°03′02″W﻿ / ﻿35.138333°N 90.050556°W               1995*
 29  29°56′56″N 90°04′55″W﻿ / ﻿29.948889°N 90.081944°W               2002*
 30    29°25′37″N 98°26′15″W﻿ / ﻿29.426944°N 98.4375°W               1967*

                 Joined  Unnamed: 8_level_0
     Eastern Conference  Eastern Conference
 0                 1946                 NaN
 1                 1976                 NaN
 2                 1946                 NaN
 3                 1949                 NaN
 4                 1995                 NaN
 5                 1966                 NaN
 6                 1970                 NaN
 7                 1948                 NaN
 8                 1976                 NaN
 9                 1968                 NaN
 10                1949                 NaN
 11               1988*                 NaN
 12                1988                 NaN
 13                1989                 NaN
 14               1961*                 NaN
 15  Western Conference  Western Conference
 16                1976                 NaN
 17                1989                 NaN
 18               1967*                 NaN
 19                1970                 NaN
 20               1974*                 NaN
 21               1946*                 NaN
 22               1970*                 NaN
 23                1948                 NaN
 24                1968                 NaN
 25                1948                 NaN
 26                1980                 NaN
 27               1967*                 NaN
 28               1995*                 NaN
 29               2002*                 NaN
 30                1976                 NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...]

## **Encontrar información específica**
### **match**: Es una expresion que se usa para buscar en columnas, si existen coincidencias, podemos comprobar si una expresión regular coincide con el inicio de una cadena.

### Devolvera un conjunto de tablas que contengan la próxima coincidencia con esta expresión regular o cadena

In [18]:
# Coincidencias por "Division"
tables = pd.read_html('https://en.wikipedia.org/wiki/National_Basketball_Association', match='Division')

# Mostrar el número total de tablas encontradas
len(tables)

1

In [19]:
# Defininedo la tabla
table_names = tables[0]

# Enumerar todos los nombres en columnas de la tabla
list(table_names)

[('Division', 'Eastern Conference'),
 ('Team', 'Eastern Conference'),
 ('Location', 'Eastern Conference'),
 ('Arena', 'Eastern Conference'),
 ('Capacity', 'Eastern Conference'),
 ('Coordinates', 'Eastern Conference'),
 ('Founded', 'Eastern Conference'),
 ('Joined', 'Eastern Conference'),
 ('Unnamed: 8_level_0', 'Eastern Conference')]

## Filtrar DataFrame(Marco de Datos) para que solo contenga las tres primeras columnas

In [20]:
# Filtrado de las columnas (0=Division, 1=Equipo, 4=Capacidad)
df_final = table_names.iloc[:, [0, 1, 4]]

# Enumerar todos las columnas filtradas de la tabla
#list(df_final)

# Renombrar las columnas
df_final.columns = ['División' , 'Equipo', 'Capacidad']

# Ver las primeras filas nuevas del DataFrame(Marco de Datos) final
print(df_final.head())

   División              Equipo Capacidad
0  Atlantic      Boston Celtics     19156
1  Atlantic       Brooklyn Nets     17732
2  Atlantic     New York Knicks     19812
3  Atlantic  Philadelphia 76ers     20478
4  Atlantic     Toronto Raptors     19800